body {
    /* background-image: url("../images/health.jpg");
    background-repeat: no-repeat;
    background-position: 100%; */
    font-family: 'Open Sans', Arial, sans-serif;
}


canvas {
	border: 1px solid black;
}

#tamFonte {
	width: 15%;
	border: 1px solid black;
	background-color: rgba(0,0,0,.2);
	color: black;
}
